@if (loading()) {
  <p>Carregando clientes...</p>
} @else {
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for (cliente of clientes(); track cliente.id) {
        <tr>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.dataNascimento }}</td>
          <td>{{ cliente.email }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7">Nenhum cliente encontrado.</td>
        </tr>
      }
    </tbody>
  </table>
}

<app-fab-add></app-fab-add>
